
@{
    ViewBag.Title = "About Us";
}
<center style="color:white;">
    <h2>AboutUs</h2>
</center>

<head>
    <title>Chronicle Education Category Bootstrap Responsive website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Chronicle Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="~/Content/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="~/Content/css/shop.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Content/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <!-- logo -->
    <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //online-fonts -->
</head>
<body style="width:100%">
    <div id="team" class="team section">
        <div class="team-container">
            <div class="team-row">
                <!-- team grid1 -->
                <div class="col-md-5 team-grid-left">
                    <!-- team individual grid -->
                    <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                        <div class="team-effect">
                            <img src="~/Content/images/t3.jpg" alt="img" class="img-responsive">
                            <div class="social-icon">
                                <a href="#" class="social-button twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-button facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-button google">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="team-text">
                            <h4>Zakaria Ahjat</h4>
                            <span>Web Devaloper</span>
                            <p>Member of AHZ-Developer Group and one of the AHZ-OnLine Library founders</p>

                        </div>
                    </div>
                    <!-- //team individual grid -->
                    <!-- team individual grid -->
                    <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                        <div class="team-text">
                            <h4>Hamza Elgharbaoui</h4>
                            <span>Web Developer</span>
                            <p>Member of AHZ-Developer Group and one of the AHZ-OnLine Library founders</p>
                        </div>
                        <div class="team-effect">
                            <img src="~/Content/images/t1.jpg" alt="img" class="img-responsive">
                            <div class="social-icon">
                                <a href="#" class="social-button twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-button facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-button google">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <!-- //team individual grid -->
                    </div>
                </div>
                <!-- //team-grid1 ends here-->
                <!--team-grid2 -->
                <div class="col-md-2 col-sm-2 team-mid-txt text-center">
                    <span>our</span>
                    <h5>t</h5>
                    <h5>e</h5>
                    <h5>a</h5>
                    <h5>m</h5>
                </div>
                <!--//team-grid2 ends here-->
                <!-- team grid3 -->
                <!-- team individual grid -->
                <div class="col-md-5 team-grid-right">
                    <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                        <div class="team-text">
                            <h4>Abdelkhalek Ait Mbark</h4>
                            <span>Web Developer</span>
                            <p>Team leader of AHZ-Developer Group and one of the AHZ-OnLine Library founders<p>
                        </div>
                        <div class="team-effect">
                            <img src="~/Content/images/t2.jpg" alt="img" class="img-responsive">
                            <div class="social-icon">
                                <a href="#" class="social-button twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-button facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-button google">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- //team individual grid -->
                    <!-- team individual grid -->
                    <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                        <div class="team-effect">
                            <img src="~/Content/images/t4.jpg" alt="img" class="img-responsive">
                            <div class="social-icon">
                                <a href="#" class="social-button twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-button facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-button google">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    <!-- //team individual grid -->
                    <div class="clearfix"> </div>
                </div>
                <!-- //team grid3 -->
                <div class="clearfix"> </div>
            </div>
            <!-- //team-row ends here -->
        </div>
        <!-- // team container ends here -->
    </div>
</body>

